<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <title>Roberto Cabrales - Curriculum Vitae</title>
    <link href="../static/css/estilo.css" th:href="@{/css/estilo.css}" rel="stylesheet" type="text/css">
</head>

<body>
<!--titulo-->
<a th:href="@{https://cryptic-island-44974.herokuapp.com/inicio/?lang=es}">
    Cambiar a español<br>
</a>
<a th:href="@{https://cryptic-island-44974.herokuapp.com/inicio/?lang=en}">
    Change to english<br>
</a>
<h1 id="titulo">Curriculum Vitae</h1>
<div class="super-container">
    <!--nombre-->
    <div class="container" id="header">
        <img src="/images/perfil.JPG" th:src="@{/images/perfil.JPG}" id="foto">
        <th th:text="#{apellidoPaterno} + ' ' + #{apellidoMaterno}"></th><br>
        <th th:text="#{nombre}"></th>
    </div>

    <div class="separator">
        <img class="icono" src="/images/datos.png" th:src="@{/images/datos.png}">
        <th th:text="#{titulo1}"></th>
    </div>

    <!--datos-->
    <div class="container">
        <th th:text="#{EncDireccion}"></th><th th:text="#{direccion}"></th><br><br>
        <th th:text="#{EncTelefono}"></th><th th:text="#{telefono}"></th><br><br>
        <th th:text="#{EncCorreo}"></th><th th:text="#{correo}"></th><br><br>
    </div>

    <div class="separator">
        <img class="icono" src="/images/estudios.png" th:src="@{/images/estudios.png}">
        <th th:text="#{titulo2}"></th>
    </div>

    <!--estudios-->
    <div class="container">
        <th th:text="#{EncUniversidad}"></th><th th:text="#{universidad}"></th><br>
        <th th:text="#{carrera}"></th><br><br>
        <th th:text="#{EncPreparatoria}"></th><th th:text="#{preparatoria}"></th><br>
        <th th:text="#{capacitacion}"></th><br>
    </div>

    <div class="separator">
        <img class="icono" src="/images/idiomas.png" th:src="@{/images/idiomas.png}">
        <th th:text="#{titulo3}"></th>
    </div>

    <!--idiomas-->
    <div class="container">
        <th th:text="#{EncIdiomaNativo}"></th><th th:text="#{idiomaNativo}"></th><br><br>
        <th th:text="#{EncIdiomas}"></th><th th:text="#{idiomas}"></th>
    </div>
</div>
</body>
</html>
